html {
  font-family: "Lucida Sans", sans-serif;
}

body {
    background-color: #2E2E2E;
    font-family: "Trebuchet MS",Helvetica, sans-serif;
}

p{
  font-size: 25px;
  text-align: justify;
  color: #ffffff;
}

h2{
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  display: inline;
  color: white;
  margin-left: 30px;
  margin-top: 5px;
}

h3{
  color: #ffffff;
}

/* Inicio formatação cabeçalho*/
.imagemlogo{
  height:50px;
  float: left;
  margin-top: 0;
}

#header{
  height: 70px;
  width: 960px;
  padding: 1em;
}

#header ul{
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}

#header  ul li{
  float: left;
}

#header ul a{
  display: block;
  padding: 0 2em;
  line-height: 2em;
  text-decoration: none;
  color: #ffffff;
}

#header ul a:hover{
  color: #000000;
  background: #ffffff;
}

body.principal #navegacao a#principal,
body.filmes #navegacao a#filmes,
body.trailers  #navegacao a#trailers,
body.trilhasonora #navegacao  a#trilhasonora,
body.contatos #navegacao a#contatos,
body.sobre  #navegacao  a#sobre{
    color: #000000;
    background: #ffffff;
}
/* Fim formatação do cabeçalho*/

#container{
  width: 960px;
  margin: 0 auto;
}
/* Inicio formatação rodapé */
#footer{
  padding-top: 5em;
  padding-bottom: 1em;
}

#text-rodape{
  clear: both;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
}

/* Fim formatação rodapé */

.homeLogo{
    height:100px;
    margin-right: 20em;
    margin-left: 23em;
}

.horario-home{
  padding: 1em;
  font-size: 25px;
  text-align: center;
  color:#B40404;
}
.informacao{
  font-size: 25px;
  text-align: left;
  color: #ffffff;
}
.nav{
  float: right;
}

/*Configurações do botão de menu */

.btnMenu {
  background-color: #1C1C1C;
  border-color: white;
  color: white;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  display: inline;
}

.menu-generos-itens {
  position: relative;
  display: inline-block;
}

.menu-generos-itens {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menu-generos-itens a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu-generos-itens a:hover {
  background-color: #f1f1f1;
}

.menu-generos:hover .menu-generos-itens {
  display: block;
}

/* Fim das Configurações do botão de menu */

.todos-filmes{
  margin-left: 80px;
}
.imagens{
  display: inline;
  padding: 20px;
}
.imagens img{
  width: 200px;
  height: 270px;
  transition: all 2s;
}

.imagens img:hover{
  height: 350px;
  width: 250px;
}

.imagens a{
  text-decoration: none;
}

.imagem-filme{
  float: left;
  margin-bottom: 20px;
}

.imagem-filme img{
  height: 500px;
  width: 330px;
}

.texto-filme{
  margin-left: 20px;
  margin-bottom: 20px;
  float: left;
}

.texto-filme h3{
  margin: 0px;
  font-weight:bold;
}

.texto-filme p{
  width: 550px;
  margin: 0px;
  font-size: 18px;
  font-weight: normal;
  color: #cccccc;
}

#container-contato{
  width: 500px;
  height: 525px;
  background-color: #848484;
  border-radius: 10px;
  margin: 0 auto;
}

.texto {
  width: 80px;
  padding: 8px;
  display: inline-block;
  font-weight: 400;
}


form{
  padding-top: 30px;
  margin-left: 15%;
}

input[type="text"]{
  height: 25px;
  width: 350px;
  margin: 5px;
  border: 1px solid #BDBDBD;
}

input[type="submit"]{
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  background-color: #FF0000;
  border: 2px solid #DF0101;
  margin-top: 10px;
  padding: 5px 20px;
  height: 40px;
  width: 35%;
  margin-left: 100px;
  border-radius: 8px;
  background: linear-gradient(to bottom, #FE2E2E, #FF0000);
}

.h2-contato{
  text-align: center;
  padding-top: 20px;
}
textarea{
  height: 100px;
  width: 350px;
  margin: 5px;
  border: 1px solid #BDBDBD;
}
